<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tehlug.androidApp" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.tehlug.androidApp.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.tehlug.androidApp.DescriptionActivity"
            android:label="@string/description" >
        </activity>

        <activity
            android:name="org.tehlug.androidApp.AboutTehlugActivity"
            android:label="@string/action_about_tehlug" >
        </activity>

        <activity
            android:name="org.tehlug.androidApp.CooperationActivity"
            android:label="@string/action_cooperation" >
        </activity>

        <activity
            android:name="org.tehlug.androidApp.OthersActivity"
            android:label="@string/action_others" >
        </activity>

    </application>

</manifest>
